@font-face {
    font-family: 'atc_harrislight';
    src: url('../Fonts/Light/atcharris-light-webfont.eot');
    src: url('../Fonts/Light/atcharris-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Light/atcharris-light-webfont.woff2') format('woff2'),
         url('../Fonts/Light/atcharris-light-webfont.woff') format('woff'),
         url('../Fonts/Light/atcharris-light-webfont.ttf') format('truetype'),
         url('../Fonts/Light/atcharris-light-webfont.svg#atc_harrislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'atc_harrisregular';
    src: url('../Fonts/Regular/atcharris-regular-webfont.eot');
    src: url('../Fonts/Regular/atcharris-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Regular/atcharris-regular-webfont.woff2') format('woff2'),
         url('../Fonts/Regular/atcharris-regular-webfont.woff') format('woff'),
         url('../Fonts/Regular/atcharris-regular-webfont.ttf') format('truetype'),
         url('../Fonts/Regular/atcharris-regular-webfont.svg#atc_harrisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Default Styling */

* {
  box-sizing: border-box;
}

body {
  font-family: 'atc_harrislight';
  margin: 0px;
}

.ArticleHeader {
  grid-area: header;
}

.ArticleBody {
  grid-area: body;
}

.container {
  display: grid;
  grid-template-columns: 7rem auto 7rem;
  grid-template-rows: auto;
  grid-template-areas:
         ". header ."
          ". body ."
    "footer footer footer"
}

article {
  font-family: 'atc_harrisregular';
}

a:link {
  color: #222;
}

a:visited {
  color: #222;
}

a:hover {
  color: #222;
}

a:active {
  color: #222;
}

/* Article Header */

.Header {
  height: 346px;
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: .1px .1px 5px #222;
}

.SubHeader {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Caption {
  font-size: 3rem;
  color: #ef766e;
  flex: 1;
}

.Description {
  color: #EF767A;
  font-size: 1.5rem;
  flex: 1;
  padding: 0rem 6rem 0 6rem;
}

/* Article Body */

ul {
  padding: 0px;

}

a {
  text-decoration: none;
}


.CardList {
  list-style: none;
  margin-top: 5rem;
  border: 1px solid #222;
}

.inner {
  height: 380px;
  display: flex;
}

.Content{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 2rem 4rem 4rem;
}

.oneArtwork {
  flex: 1.2;
  background-image: url('../images/feature.jpg');
  background-size: cover;
  background-position: 50%;
}

.twoArtwork {
  flex: 1.2;
  background-image: url('../images/featuretwo.jpg');
  background-size: cover;
}
/* Card Styles */

.CardHeader {
  font-size: 2.5rem;
  flex: 1;
  margin-bottom: 1rem;
}

.CardSubHeader {
  flex: 1;
  color: #ef766e;
  line-height: 1.5rem;
  margin: 0px 0px 1rem 0px;
}

.CardParagraph {
  flex: 1;
  color: #8898aa;
  line-height: 1.5rem;
  font-family: 'atc_harrislight';
}
